<app-header></app-header>
<div class="container ">
	<div class="col-md-3 col-sm-8">
		<img src="./assets/logo-sin-fondo.png" class="logo_apetitus">
	</div>
	<div class="titulo col-md-8 offset-md-2">
		<h1>Apetitus Colombia</h1>
		<h5>Confianza que brinda sabor</h5>
		<h3>Bienvenidos</h3>
	</div>
	<div class="nosotros">
		<h2>Servicios Gastronomicos</h2>
		<p><strong>Apetitus</strong> es una empresa dedicada a la organización de eventos sociales, con un gran enfoque en innovación gastronómica, las orientaciones profesionales van desde pequeños restaurantes, casas de banquetes y cafeterías hasta grandes empresas gastronómicas, con alto prestigio y excelencia en sus productos que garantizan inocuidad y un correcto manejo de insumos.</p>
		<br>
		<p>Bienvenido a <strong>Apetitus</strong>, siéntete libre de navegar por el conocimiento gastronómico que se ha adquirido de diferentes partes del mundo, pero de la cual enfatizo en mi tierra, <strong>Colombia</strong>. Los sabores exquisitos y distintivos de mi patria hermosa son unicos y merecen ser expuestos al mundo. “la comida colombiana es como su país, una vez que estás en él, el peligro es no quererte ir.”</p>
		<br>
		<h3>¿Quienes Somos?</h3>
		<p>Somos jóvenes con ganas de mostrar a Colombia como el país que es, resaltando toda su belleza y toda su cultura, sabemos que cargamos con una gran carga de años anteriores, el velo de la violencia y los delitos cubren a este hermoso país; si embargo creemos en nuestras capacidades, nuestros compatriotas y en nuestro país, estamos orgullosos de ser colombianos y por eso queremos mostrar su cultura hermosa.</p>
		<!-- imagenes de nosotros -->
		<div class="media">
		  <img class="d-flex align-self-center mr-3 img_nosotros" src="./assets/daza.jpg" alt="Andrez Daza Chef, creador de contenido y fundador de Apetitus">
		  <div class="media-body">
		    <h5 class="mt-0">Andres Daza</h5>
		    <p>Chef, creador de contenido y fundador de <strong>Apetitus</strong>, cuenta con varios años de experiencia en el sector culinario. En estos momentos se encuentra en una investigación gastronomica en el departamento de Amazonas Colombia.</p>
		  </div>
		</div>
		<div class="media">
		  <div class="media-body">
		    <h5 class="mt-0">Pedro Builes</h5>
		    <p>Desarrollador web, creador de contenido y colaborador en <strong>Apetitus</strong>, es el encargado de la página de <strong>Apetitus</strong>, y todos sus recursos digitales, cuenta con experiencia en desarrollo web. En estos momentos se encuentra desarrollando una segunda versión de <strong>Apetitus</strong> junto con una plataforma aliada a la misma.</p>
		  </div>
		  <img class="d-flex align-self-center mr-3 img_nosotros" src="./assets/Pedro fiverr.jpg" alt="Pedro Builes desarrollador web">
		</div>
		<div class="frase">
			<h3>Gracias por confiar en <strong>Apetitus</strong></h3>
		</div>
	</div>
</div>
<app-footer></app-footer>