<app-header></app-header>
<div class="container animated fadeIn retraso-1s">
	<div class="col-md-3 col-sm-8">
		<img src="./assets/logo-sin-fondo.png" class="logo_apetitus">
	</div>
	<div class="titulo col-md-8 offset-md-2">
		<h1>Apetitus Colombia</h1>
		<h5>Confianza que brinda sabor</h5>
		<h3>Menú</h3>
	</div>
	<div class="menu">
		<div id="accordion" role="tablist" aria-multiselectable="true">
		  <div class="card">
		    <div class="card-header" role="tab" id="headingOne">
		      <h5 class="mb-0">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		          <h3>Tapas</h3>
		        </a>
		      </h5>
		    </div>

		    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
		      <div class="card-block contenido">
		      	<div class="container row">
		      		<div class="col-md-4 offset-md-2 imagen">
				      	<h5>Tapas con tortilla</h5>
				      	<img src="./assets/tapa_con_tortilla.jpg">
		      		</div>
		      		<div class="col-md-4 Ingredientes">
		      			<div>
					      	<h6>Ingredientes:</h6>
					      	<ul>
					      		<li>Pan tipo Baguette</li>
					      		<li>Torilla de patatas</li>
					      		<li>Mayonesa de ajo láctea</li>
					      		<li>Pimienta recién molida</li>
					      	</ul>
		      			</div>
		      			<div>
		      				<h6>Precios:</h6>
		      				<ul>
		      					<li>10 pax: $149.000/ 30 Un</li>
		      					<li>20 pax: $298.000/ 60 Un</li>
		      					<li>40 pax: $595.000/120 Un</li>
		      				</ul>
		      				<h6>Contenido: </h6>
		      				<p>35 gr (aproximado)</p>
		      			</div>
		      		</div>
		      	</div>
		      	<div class="separador">
		      		<img src="./assets/separador.png">
		      	</div>
		      	<div class="container row">
		      		<div class="col-md-4 offset-md-2 imagen">
				      	<h5>Tapas jamon serrano</h5>
				      	<img src="./assets/tapa-de-jamon.jpg">
		      		</div>
		      		<div class="col-md-4 Ingredientes">
				      	<div>
				      		<h6>Ingredientes:</h6>
					      	<ul>
					      		<li>Pan tipo Baguette</li>
					      		<li>Tomate rallado</li>
					      		<li>10 gr Jamón serrano</li>
					      		<li>Aceite de oliva</li>
					      	</ul>
				      	</div>
				      	<div>
		      				<h6>Precios:</h6>
		      				<ul>
		      					<li>10 pax: $220.000/30 Un</li>
		      					<li>20 pax: $440.000/60 Un</li>
		      					<li>40 pax: $880.000/120 Un</li>
		      				</ul>
		      				<h6>Contenido: </h6>
		      				<p>35 gr (aproximado)</p>
		      			</div>
		      		</div>
		      	</div>
		      	<div class="separador">
		      		<img src="./assets/separador.png">
		      	</div>
		      	<div class="container row">
		      		<div class="col-md-4 offset-md-2 imagen">
				      	<h5>Tapas champiñones y rúgula</h5>
				      	<img src="./assets/champi-rugu.jpg">
		      		</div>
		      		<div class="col-md-4 Ingredientes">
				      	<div>
				      		<h6>Ingredientes:</h6>
					      	<ul>
					      		<li>Pan tipo Baguette</li>
					      		<li>Champiñones en crema de jengibre</li>
					      		<li>Hojas de rúgula</li>
					      		<li>Aceite de oliva</li>
					      	</ul>
				      	</div>
				      	<div>
		      				<h6>Precios:</h6>
		      				<ul>
		      					<li>10 pax: $93.200/30 Un</li>
		      					<li>20 pax: $186.400/60 Un</li>
		      					<li>40 pax: $372.800/120 Un</li>
		      				</ul>
		      				<h6>Contenido: </h6>
		      				<p>35 gr (aproximado)</p>
		      			</div>
		      		</div>
		      	</div>
		      	<div class="separador">
		      		<img src="./assets/separador.png">
		      	</div>
		      	<div class="container row">
		      		<div class="col-md-4 offset-md-2 imagen">
				      	<h5>Tapas roast beef y pesto</h5>
				      	<img src="./assets/roast-beef.jpg">
		      		</div>
		      		<div class="col-md-4 Ingredientes">
				      	<div>
				      		<h6>Ingredientes:</h6>
					      	<ul>
					      		<li>Pan tipo Baguette</li>
					      		<li>Cama de pesto</li>
					      		<li>10 gr Roast beef</li>
					      		<li>Tomate cherry</li>
					      	</ul>
				      	</div>
				      	<div>
		      				<h6>Precios:</h6>
		      				<ul>
		      					<li>10 pax: $122.000/30 Un</li>
		      					<li>20 pax: $244.000/60 Un</li>
		      					<li>40 pax: 488.000/120 Un</li>
		      				</ul>
		      				<h6>Contenido: </h6>
		      				<p>35 gr (aproximado)</p>
		      			</div>
		      		</div>
		      	</div>
		      	<div class="separador">
		      		<img src="./assets/separador.png">
		      	</div>
		      	<div class="container row">
		      		<div class="col-md-4 offset-md-2 imagen">
				      	<h5>Tapas paisanas</h5>
				      	<img src="./assets/tocinoyaguacate.jpg">
		      		</div>
		      		<div class="col-md-4 Ingredientes">
				      	<div>
				      		<h6>Ingredientes:</h6>
					      	<ul>
					      		<li>Pan tipo Baguette</li>
					      		<li>Crema de salsa criolla</li>
					      		<li>Trozos de tocino ahumado</li>
					      		<li>Tajas de aguacate</li>
					      	</ul>
				      	</div>
				      	<div>
		      				<h6>Precios:</h6>
		      				<ul>
		      					<li>10 pax: $86.000/30 Un</li>
		      					<li>20 pax: $172.000/60 Un</li>
		      					<li>40 pax: $344.000/120 Un</li>
		      				</ul>
		      				<h6>Contenido: </h6>
		      				<p>45 gr (aproximado)</p>
		      			</div>
		      		</div>
		      	</div>
		      	<div class="separador">
		      		<img src="./assets/separador.png">
		      	</div>
		      	<div class="container row">
		      		<div class="col-md-4 offset-md-2 imagen">
				      	<h5>Tapas matiz</h5>
				      	<img src="./assets/tapas-matiz.jpg">
		      		</div>
		      		<div class="col-md-4 Ingredientes">
				      	<div>
				      		<h6>Ingredientes:</h6>
					      	<ul>
					      		<li>Pan tipo Baguette</li>
					      		<li>Crema de pasta de maiz dulce</li>
					      		<li>10 gr Carne seca</li>
					      		<li>Trozos de tomate</li>
					      		<li>Brotes de flores</li>
					      	</ul>
				      	</div>
				      	<div>
		      				<h6>Precios:</h6>
		      				<ul>
		      					<li>10 pax: $86.500/30 Un</li>
		      					<li>20 pax: $173.000/60 Un</li>
		      					<li>40 pax: $346.100/120 Un</li>
		      				</ul>
		      				<h6>Contenido: </h6>
		      				<p>45 gr (aproximado)</p>
		      			</div>
		      		</div>
		      	</div>
		      	<div class="separador">
		      		<img src="./assets/separador.png">
		      	</div>
		      	<div class="container row">
		      		<div class="col-md-4 offset-md-2 imagen">
				      	<h5>Tapas solomillo y fondue</h5>
				      	<img src="./assets/tapa-de-solomillo.jpg">
		      		</div>
		      		<div class="col-md-4 Ingredientes">
				      	<div>
				      		<h6>Ingredientes:</h6>
					      	<ul>
					      		<li>Pan tipo Baguette</li>
					      		<li>Cubos de solomillo en su salsa</li>
					      		<li>Fondue de mozarrella</li>
					      		<li>Brotes de flores</li>
					      	</ul>
				      	</div>
				      	<div>
		      				<h6>Precios:</h6>
		      				<ul>
		      					<li>10 pax: $99.200/30 Un</li>
		      					<li>20 pax: $198.400/60 Un</li>
		      					<li>40 pax: $396.800/120 Un</li>
		      				</ul>
		      				<h6>Contenido: </h6>
		      				<p>40 gr (aproximado)</p>
		      			</div>
		      		</div>
		      	</div>

		      </div>
		    </div>
		  </div>
		  <div class="card">
		    <div class="card-header" role="tab" id="headingTwo">
		      <h5 class="mb-0">
		        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		          <h3>Guisos</h3>
		        </a>
		      </h5>
		    </div>
		    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
		      <div class="card-block contenido">
		        <div class="container row">
		      		<div class="col-md-4 offset-md-2 imagen">
				      	<h5>Guiso charqui en cazuela de maiz</h5>
				      	<img src="./assets/guiso-charqui.jpg" class="img_g">
		      		</div>
		      		<div class="col-md-4 Ingredientes">
		      			<div>
					      	<h6>Ingredientes:</h6>
					      	<ul>
					      		<li>Carne seca</li>
					      		<li>Pimiento morrón</li>
					      		<li>Cebolla y ajo</li>
					      		<li>Tomate</li>
					      		<li>Hojas de albahaca</li>
					      		<li>Harina de maiz</li>
					      		<li>Sal y pimienta negra</li>
					      		<li>Fondo de vegetales</li>
					      	</ul>
		      			</div>
		      			<div>
		      				<h6>Precios:</h6>
		      				<ul>
		      					<li>10 pax: $59.800/30 Un</li>
		      					<li>20 pax: $119.000/60 Un</li>
		      					<li>40 pax: $239.000/120 Un</li>
		      				</ul>
		      				<h6>Contenido: </h6>
		      				<p>50 gr (aproximado)</p>
		      			</div>
		      		</div>
		      	</div>
		      	<div class="separador">
		      		<img src="./assets/separador.png">
		      	</div>
		      </div>
		    </div>
		  </div>
		  <div class="card">
		    <div class="card-header" role="tab" id="headingThree">
		      <h5 class="mb-0">
		        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
		          <h3>Sopas</h3>
		        </a>
		      </h5>
		    </div>
		    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
		      <div class="card-block contenido">
		        <div class="container row">
		      		<div class="col-md-4 offset-md-2 imagen">
				      	<h5>Sopa de calabacín</h5>
				      	<img src="./assets/sopa-de-calabacin.jpg" class="img_g">
		      		</div>
		      		<div class="col-md-4 Ingredientes">
		      			<div>
					      	<h6>Ingredientes:</h6>
					      	<ul>
					      		<li>Calabacín</li>
					      		<li>Fondo de res</li>
					      		<li>Cebolla y ajo</li>
					      		<li>Mantequilla</li>
					      		<li>Prosciutto</li>
					      		<li>finas hierbas</li>
					      		<li>Sal y pimienta negra</li>
					      		<li>Porción de pan</li>
					      	</ul>
		      			</div>
		      			<div>
		      				<h6>Precios:</h6>
		      				<ul>
		      					<li>10 pax: $189.900/10 Un</li>
		      					<li>20 pax: $379.800/20 Un</li>
		      					<li>40 pax: $759.700/40 Un</li>
		      				</ul>
		      			</div>
		      		</div>
		      	</div>
		      	<div class="separador">
		      		<img src="./assets/separador.png">
		      	</div>
		      	<div class="container row">
		      		<div class="col-md-4 offset-md-2 imagen">
				      	<h5>Gazpacho andaluz</h5>
				      	<img src="./assets/gazpacho-andaluz.jpg" class="img_g">
		      		</div>
		      		<div class="col-md-4 Ingredientes">
		      			<div>
					      	<h6>Ingredientes:</h6>
					      	<ul>
					      		<li>Aceite de oliva</li>
					      		<li>Huevo duro</li>
					      		<li>Cebolla y ajo</li>
					      		<li>Migas de pan</li>
					      		<li>Pepino</li>
					      		<li>Pimiento verde</li>
					      		<li>Tomate</li>
					      		<li>Sal</li>
					      		<li>Vinagre</li>
					      		<li>Porción de pan</li>
					      	</ul>
		      			</div>
		      			<div>
		      				<h6>Precios:</h6>
		      				<ul>
		      					<li>10 pax: $88.600/10 Un</li>
		      					<li>20 pax: $177.300/20 Un</li>
		      					<li>40 pax: $354.700/40 Un</li>
		      				</ul>
		      			</div>
		      		</div>
		      	</div>
		      	<div class="separador">
		      		<img src="./assets/separador.png">
		      	</div>
		      	<div class="container row">
		      		<div class="col-md-4 offset-md-2 imagen">
				      	<h5>Sopa de ajo blanco</h5>
				      	<img src="./assets/ajoblanco.jpg" class="img_g">
		      		</div>
		      		<div class="col-md-4 Ingredientes">
		      			<div>
					      	<h6>Ingredientes:</h6>
					      	<ul>
					      		<li>Aceite de oliva</li>
					      		<li>Ajo</li>
					      		<li>Almendras blancas</li>
					      		<li>Migas de pan</li>
					      		<li>Huevo</li>
					      		<li>Sal</li>
					      		<li>Vinagre</li>
					      		<li>Porción de pan</li>
					      	</ul>
		      			</div>
		      			<div>
		      				<h6>Precios:</h6>
		      				<ul>
		      					<li>10 pax: $118.700/10 Un</li>
		      					<li>20 pax: $237.400/20 Un</li>
		      					<li>40 pax: $474.900/40 Un</li>
		      				</ul>
		      			</div>
		      		</div>
		      	</div>
		      	<div class="separador">
		      		<img src="./assets/separador.png">
		      	</div>
		      	<div class="container row">
		      		<div class="col-md-4 offset-md-2 imagen">
				      	<h5>Sopa de merluza</h5>
				      	<img src="./assets/merluza.jpg" class="img_g">
		      		</div>
		      		<div class="col-md-4 Ingredientes">
		      			<div>
					      	<h6>Ingredientes:</h6>
					      	<ul>
					      		<li>Aceite de oliva</li>
					      		<li>Ajo</li>
					      		<li>Almendras</li>
					      		<li>Cebolla picada</li>
					      		<li>Azafrán</li>
					      		<li>Rebanadas de pan</li>
					      		<li>Perejil</li>
					      		<li>Pimentón</li>
					      		<li>Merluza</li>
					      		<li>Tomaté</li>
					      		<li>Porción de pan</li>
					      	</ul>
		      			</div>
		      			<div>
		      				<h6>Precios:</h6>
		      				<ul>
		      					<li>10 pax: $88.100/10 Un</li>
		      					<li>20 pax: $176.300/20 Un</li>
		      					<li>40 pax: $352.700/40 Un</li>
		      				</ul>
		      			</div>
		      		</div>
		      	</div>
		      	<div class="separador">
		      		<img src="./assets/separador.png">
		      	</div>
		      </div>
		    </div>
		  </div>
		  <div class="card">
		    <div class="card-header" role="tab" id="headingFour">
		      <h5 class="mb-0">
		        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
		          <h3>Cremas</h3>
		        </a>
		      </h5>
		    </div>
		    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
		      <div class="card-block contenido">
		        <div class="container row">
		      		<div class="col-md-4 offset-md-2 imagen">
				      	<h5>Crema de berros (fria)</h5>
				      	<img src="./assets/berros.jpg" class="img_g">
		      		</div>
		      		<div class="col-md-4 Ingredientes">
		      			<div>
					      	<h6>Ingredientes:</h6>
					      	<ul>
					      		<li>Caldo de pollo</li>
					      		<li>Patatas medianas</li>
					      		<li>Nata líquida</li>
					      		<li>Berros frescos</li>
					      		<li>Porción de pan</li>
					      	</ul>
		      			</div>
		      			<div>
		      				<h6>Precios:</h6>
		      				<ul>
		      					<li>10 pax: $94.000/10 Un</li>
		      					<li>20 pax: $188.000/20 Un</li>
		      					<li>40 pax: $376.000/40 Un</li>
		      				</ul>
		      			</div>
		      		</div>
		      	</div>
		      	<div class="separador">
		      		<img src="./assets/separador.png">
		      	</div>
		      </div>
		    </div>
		  </div>
		  <div class="card">
		    <div class="card-header" role="tab" id="headingFive">
		      <h5 class="mb-0">
		        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
		          <h3>Primer Plato</h3>
		        </a>
		      </h5>
		    </div>
		    <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
		      <div class="card-block contenido">
		        <div class="container row">
		      		<div class="col-md-4 offset-md-2 imagen">
				      	<h5>Empanadas de mandioca</h5>
				      	<img src="./assets/empanada.jpg" class="img_g">
		      		</div>
		      		<div class="col-md-4 Ingredientes">
		      			<div>
					      	<h6>Ingredientes:</h6>
					      	<ul>
					      		<li>Yuca</li>
					      		<li>Pechuga de pollo</li>
					      		<li>Tomate</li>
					      		<li>Pimentón</li>
					      		<li>Cebolla</li>
					      		<li>Maiz tierno</li>
					      		<li>Aceite de girasol</li>
					      	</ul>
		      			</div>
		      			<div>
		      				<h6>Precios:</h6>
		      				<ul>
		      					<li>10 pax: $77.500/30 Un</li>
		      					<li>20 pax: $154.900/60 Un</li>
		      					<li>40 pax: $309.800/120 Un</li>
		      				</ul>
		      			</div>
		      		</div>
		      	</div>
		      	<div class="separador">
		      		<img src="./assets/separador.png">
		      	</div>
		      	<div class="container row">
		      		<div class="col-md-4 offset-md-2 imagen">
				      	<h5>Risotto de tomate</h5>
				      	<img src="./assets/rissotto.jpg" class="img_g">
		      		</div>
		      		<div class="col-md-4 Ingredientes">
		      			<div>
					      	<h6>Ingredientes:</h6>
					      	<ul>
					      		<li>Mantequilla</li>
					      		<li>Cebolla picada</li>
					      		<li>Arroz arboreo</li>
					      		<li>Vino Blanco</li>
					      		<li>Caldo ve verduro o pollo (a su elección)</li>
					      		<li>Tomate cherry</li>
					      		<li>Albahaca picada</li>
					      		<li>Queso mozzarella rallado</li>
					      		<li>Aceite de oliva</li>
					      		<li>Sal y pimienta</li>
					      	</ul>
		      			</div>
		      			<div>
		      				<h6>Precios:</h6>
		      				<ul>
		      					<li>10 pax: $142.600/10 Un</li>
		      					<li>20 pax: $285.300/20 Un</li>
		      					<li>40 pax: $570.600/40 Un</li>
		      				</ul>
		      			</div>
		      		</div>
		      	</div>
		      	<div class="separador">
		      		<img src="./assets/separador.png">
		      	</div>
		      </div>
		    </div>
		  </div>
		  <div class="card">
		    <div class="card-header" role="tab" id="headingSix">
		      <h5 class="mb-0">
		        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseFour">
		          <h3>Carnes</h3>
		        </a>
		      </h5>
		    </div>
		    <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
		      <div class="card-block contenido">
		        <div class="container row">
		      		<div class="col-md-4 offset-md-2 imagen">
				      	<h5>Bondiola de cerdo en sus jugos</h5>
				      	<img src="./assets/bondiola.png" class="img_g">
		      		</div>
		      		<div class="col-md-4 Ingredientes">
		      			<div>
					      	<h6>Ingredientes:</h6>
					      	<ul>
					      		<li>Bondiola de cerdo</li>
					      		<li>Apio</li>
					      		<li>Cebolla y ajo</li>
					      		<li>Romero</li>
					      		<li>Mostaza</li>
					      		<li>Vino blanco</li>
					      		<li>¡No Incluye Bebida!</li>
					      	</ul>
		      			</div>
		      			<div>
		      				<h6>Precios:</h6>
		      				<ul>
		      					<li>10 pax: $112.900/10 Un</li>
		      					<li>20 pax: $225.900/20 Un</li>
		      					<li>40 pax: $451.900/40 Un</li>
		      				</ul>
		      			</div>
		      		</div>
		      	</div>
		      	<div class="separador">
		      		<img src="./assets/separador.png">
		      	</div>
		      	<div class="container row">
		      		<div class="col-md-4 offset-md-2 imagen">
				      	<h5>Conejo confitado</h5>
				      	<img src="./assets/conejoconfitado.JPG" class="img_g">
		      		</div>
		      		<div class="col-md-4 Ingredientes">
		      			<div>
					      	<h6>Ingredientes:</h6>
					      	<ul>
					      		<li>Conejo</li>
					      		<li>Aceite de girasol</li>
					      		<li>Dientes de ajo</li>
					      		<li>Ramas de romero</li>
					      		<li>Ramas de tomillo</li>
					      		<li>Pimienta</li>
					      		<li>Maiz tierno</li>
					      		<li>Zumo de limón</li>
					      		<li>Mantequilla</li>
					      		<li>Crema</li>
					      		<li>Queso parmesano</li>
					      		<li>¡No Incluye Bebida!</li>
					      	</ul>
		      			</div>
		      			<div>
		      				<h6>Precios:</h6>
		      				<ul>
		      					<li>10 pax: $226.600/10 Un</li>
		      					<li>20 pax: $453.300/20 Un</li>
		      					<li>40 pax: $906.400/40 Un</li>
		      				</ul>
		      			</div>
		      		</div>
		      	</div>
		      	<div class="separador">
		      		<img src="./assets/separador.png">
		      	</div>
		      	<div class="container row">
		      		<div class="col-md-4 offset-md-2 imagen">
				      	<h5>Niños envueltos</h5>
				      	<img src="./assets/ninosenvueltos.jpg" class="img_g">
		      		</div>
		      		<div class="col-md-4 Ingredientes">
		      			<div>
					      	<h6>Ingredientes:</h6>
					      	<ul>
					      		<li>Carne de res (150 gr)</li>
					      		<li>Carne de cerdo (150 gr)</li>
					      		<li>Cebolla</li>
					      		<li>Ajo</li>
					      		<li>Tocineta (50 gr)</li>
					      		<li>Puré de tomate</li>
					      		<li>Brotes de perejil</li>
					      		<li>¡No Incluye Bebida!</li>
					      	</ul>
		      			</div>
		      			<div>
		      				<h6>Precios:</h6>
		      				<ul>
		      					<li>10 pax: $79.200/10 Un</li>
		      					<li>20 pax: $158.300/20 Un</li>
		      					<li>40 pax: $316.700/40 Un</li>
		      				</ul>
		      			</div>
		      		</div>
		      	</div>
		      	<div class="separador">
		      		<img src="./assets/separador.png">
		      	</div>
		      	<div class="container row">
		      		<div class="col-md-4 offset-md-2 imagen">
				      	<h5>Beef chorizo con papas y vegetales</h5>
				      	<img src="./assets/beefchorizo.jpg" class="img_g">
		      		</div>
		      		<div class="col-md-4 Ingredientes">
		      			<div>
					      	<h6>Ingredientes:</h6>
					      	<ul>
					      		<li>Beef chorizo </li>
					      		<li>Romero</li>
					      		<li>Ajo</li>
					      		<li>Aceite de oliva</li>
					      		<li>Papa</li>
					      		<li>Pimentón</li>
					      		<li>Cebollas medianas</li>
					      		<li>¡No Incluye Bebida!</li>
					      	</ul>
		      			</div>
		      			<div>
		      				<h6>Precios:</h6>
		      				<ul>
		      					<li>10 pax: $214.200/10 Un</li>
		      					<li>20 pax: $468.400/20 Un</li>
		      					<li>40 pax: $1.131.900/40 Un</li>
		      				</ul>
		      			</div>
		      		</div>
		      	</div>
		      	<div class="separador">
		      		<img src="./assets/separador.png">
		      	</div>
		      	<div class="container row">
		      		<div class="col-md-4 offset-md-2 imagen">
				      	<h5>Ñoquis bolognesa</h5>
				      	<img src="./assets/noquis1.jpg" class="img_g">
		      		</div>
		      		<div class="col-md-4 Ingredientes">
		      			<div>
					      	<h6>Ingredientes:</h6>
					      	<ul>
					      		<li>Patatas</li>
					      		<li>Harina</li>
					      		<li>Yemas de huevo</li>
					      		<li>Nuez moscada</li>
					      		<li>Tomate</li>
					      		<li>Cebolletas</li>
					      		<li>Carne de res molida</li>
					      		<li>Dentes de ajo</li>
					      		<li>Sal</li>
					      		<li>Perejil</li>
					      		<li>Albahaca</li>
					      		<li>Poción de pan</li>
					      		<li>¡No Incluye Bebida!</li>
					      	</ul>
		      			</div>
		      			<div>
		      				<h6>Precios:</h6>
		      				<ul>
		      					<li>10 pax: $105.750/10 Un</li>
		      					<li>20 pax: $211.500/20 Un</li>
		      					<li>40 pax: $423.000/40 Un</li>
		      				</ul>
		      			</div>
		      		</div>
		      	</div>
		      	<div class="separador">
		      		<img src="./assets/separador.png">
		      	</div>
		      	<div class="container row">
		      		<div class="col-md-4 offset-md-2 imagen">
				      	<h5>Polenta con pollo al pesto</h5>
				      	<img src="./assets/polenta.jpg" class="img_g">
		      		</div>
		      		<div class="col-md-4 Ingredientes">
		      			<div>
					      	<h6>Ingredientes:</h6>
					      	<ul>
					      		<li>Harina de maiz</li>
					      		<li>Agua, caldo o leche (a su elección)</li>
					      		<li>Sal y pimienta</li>
					      		<li>Hojas de albahaca</li>
					      		<li>Almendras</li>
					      		<li>Queso parmesano</li>
					      		<li>Aceite de oliva</li>
					      		<li>Dentes de ajo</li>
					      		<li>¡No Incluye Bebida!</li>
					      	</ul>
		      			</div>
		      			<div>
		      				<h6>Precios:</h6>
		      				<ul>
		      					<li>10 pax: $98.000/10 Un</li>
		      					<li>20 pax: $196.100/20 Un</li>
		      					<li>40 pax: $392.300/40 Un</li>
		      				</ul>
		      			</div>
		      		</div>
		      	</div>
		      	<div class="separador">
		      		<img src="./assets/separador.png">
		      	</div>
		      	<div class="container row">
		      		<div class="col-md-4 offset-md-2 imagen">
				      	<h5>Terrina de conejo o res</h5>
				      	<img src="./assets/terrina.jpg" class="img_g">
		      		</div>
		      		<div class="col-md-4 Ingredientes">
		      			<div>
					      	<h6>Ingredientes:</h6>
					      	<ul>
					      		<li>Conejo o res (a se elección)</li>
					      		<li>Setas secas</li>
					      		<li>Tocino picado</li>
					      		<li>Tomillo</li>
					      		<li>Apio</li>
					      		<li>Nata líquida </li>
					      		<li>Aceite de oliva</li>
					      		<li>Huevos</li>
					      		<li>Magro de cerdo</li>
					      		<li>Zanahorias</li>
					      		<li>Cebolla</li>
					      		<li>Ajo</li>
					      		<li>Hojas de lurel</li>
					      		<li>Pistachos pelados</li>
					      		<li>¡No Incluye Bebida!</li>
					      	</ul>
		      			</div>
		      			<div>
		      				<h6>Precios:</h6>
		      				<ul>
		      					<li>10 pax: $112.600/10 Un</li>
		      					<li>20 pax: $225.200/20 Un</li>
		      					<li>40 pax: $450.400/40 Un</li>
		      				</ul>
		      			</div>
		      		</div>
		      	</div>
		      	<div class="separador">
		      		<img src="./assets/separador.png">
		      	</div>
		      	<div class="container row">
		      		<div class="col-md-4 offset-md-2 imagen">
				      	<h5>Ternera a la bourguignon</h5>
				      	<img src="./assets/ternera.jpg" class="img_g">
		      		</div>
		      		<div class="col-md-4 Ingredientes">
		      			<div>
					      	<h6>Ingredientes:</h6>
					      	<ul>
					      		<li>Carne de ternera en dados</li>
					      		<li>Champiñones</li>
					      		<li>Cebolla</li>
					      		<li>Cebollitas francesas</li>
					      		<li>Pancela ahumada en dados</li>
					      		<li>Vino tinto</li>
					      		<li>Caldo de carne</li>
					      		<li>Harina</li>
					      		<li>Ajo</li>
					      		<li>Sal</li>
					      		<li>Aceite de oliva</li>
					      		<li>¡No Incluye Bebida!</li>
					      	</ul>
		      			</div>
		      			<div>
		      				<h6>Precios:</h6>
		      				<ul>
		      					<li>10 pax: $163.200/10 Un</li>
		      					<li>20 pax: $326.400/20 Un</li>
		      					<li>40 pax: $653.100/40 Un</li>
		      				</ul>
		      			</div>
		      		</div>
		      	</div>
		      	<div class="separador">
		      		<img src="./assets/separador.png">
		      	</div>
		      	<div class="container row">
		      		<div class="col-md-4 offset-md-2 imagen">
				      	<h5>Roti de cerdo</h5>
				      	<img src="./assets/roticerdo.jpg" class="img_g">
		      		</div>
		      		<div class="col-md-4 Ingredientes">
		      			<div>
					      	<h6>Ingredientes:</h6>
					      	<ul>
					      		<li>Carne de cerdo ahumada</li>
					      		<li>Patatas</li>
					      		<li>Mostaza de jon</li>
					      		<li>Miel de abejas</li>
					      		<li>Leche</li>
					      		<li>Crema agria</li>
					      		<li>Cebollas rojas</li>
					      		<li>Sal</li>
					      		<li>Aceite de oliva</li>
					      		<li>¡No Incluye Bebida!</li>
					      	</ul>
		      			</div>
		      			<div>
		      				<h6>Precios:</h6>
		      				<ul>
		      					<li>10 pax: $128.600/10 Un</li>
		      					<li>20 pax: $257.200/20 Un</li>
		      					<li>40 pax: $514.400/40 Un</li>
		      				</ul>
		      			</div>
		      		</div>
		      	</div>
		      	<div class="separador">
		      		<img src="./assets/separador.png">
		      	</div>
		      	<div class="container row">
		      		<div class="col-md-4 offset-md-2 imagen">
				      	<h5>Coq au vin</h5>
				      	<img src="./assets/coqauvin.jpeg" class="img_g">
		      		</div>
		      		<div class="col-md-4 Ingredientes">
		      			<div>
					      	<h6>Ingredientes:</h6>
					      	<ul>
					      		<li>Pollo</li>
					      		<li>Vino tinto</li>
					      		<li>Champiñones</li>
					      		<li>Tocino</li>
					      		<li>Cebollas</li>
					      		<li>Ajo</li>
					      		<li>Puerro</li>
					      		<li>Aceite</li>
					      		<li>Harina</li>
					      		<li>Perejil</li>
					      		<li>Tomillo</li>
					      		<li>Laurel</li>
					      		<li>Coñac</li>
					      		<li>Mantequilla</li>
					      		<li>Pimienta blanca</li>
					      		<li>Sal</li>
					      		<li>¡No Incluye Bebida!</li>
					      	</ul>
		      			</div>
		      			<div>
		      				<h6>Precios:</h6>
		      				<ul>
		      					<li>10 pax: $170.700/10 Un</li>
		      					<li>20 pax: $341.400/20 Un</li>
		      					<li>40 pax: $682.800/40 Un</li>
		      				</ul>
		      			</div>
		      		</div>
		      	</div>
		      	<div class="separador">
		      		<img src="./assets/separador.png">
		      	</div>
		      </div>
		    </div>
		  </div>
		  <div class="card">
		    <div class="card-header" role="tab" id="headingSeven">
		      <h5 class="mb-0">
		        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
		          <h3>Paellas</h3>
		        </a>
		      </h5>
		    </div>
		    <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven">
		      <div class="card-block contenido">
		        <div class="container row">
		      		<div class="col-md-4 offset-md-2 imagen">
				      	<h5>Paella valenciana</h5>
				      	<img src="./assets/paella_valenciana.jpg" class="img_g">
		      		</div>
		      		<div class="col-md-4 Ingredientes">
		      			<div>
					      	<h6>Ingredientes:</h6>
					      	<ul>
					      		<li>Aceite de oliva</li>
					      		<li>Arroz</li>
					      		<li>Azafran</li>
					      		<li>Conejo</li>
					      		<li>Habas</li>
					      		<li>Judias verdes</li>
					      		<li>Pimentón</li>
					      		<li>Pollo</li>
					      		<li>Tomate</li>
					      		<li>Porción de pan</li>
					      	</ul>
		      			</div>
		      			<div>
		      				<h6>Precios:</h6>
		      				<ul>
		      					<li>10 pax: $112.300/10 Un</li>
		      					<li>20 pax: $224.600/20 Un</li>
		      					<li>40 pax: $449.200/40 Un</li>
		      				</ul>
		      			</div>
		      		</div>
		      	</div>
		      	<div class="separador">
		      		<img src="./assets/separador.png">
		      	</div>
		      	<div class="container row">
		      		<div class="col-md-4 offset-md-2 imagen">
				      	<h5>Paella de mariscos</h5>
				      	<img src="./assets/paella_mariscos.jpg" class="img_g">
		      		</div>
		      		<div class="col-md-4 Ingredientes">
		      			<div>
					      	<h6>Ingredientes:</h6>
					      	<ul>
					      		<li>Aceite de oliva</li>
					      		<li>Arroz</li>
					      		<li>Azafran</li>
					      		<li>Langostino</li>
					      		<li>Pasta de ajo</li>
					      		<li>Judias verdes</li>
					      		<li>Pimentón</li>
					      		<li>Cebolla</li>
					      		<li>Calamar</li>
					      		<li>Ostras</li>
					      		<li>Tomate</li>
					      		<li>Porción de pan</li>
					      	</ul>
		      			</div>
		      			<div>
		      				<h6>Precios:</h6>
		      				<ul>
		      					<li>10 pax: $113.600/10 Un</li>
		      					<li>20 pax: $227.300/20 Un</li>
		      					<li>40 pax: $454.600/40 Un</li>
		      				</ul>
		      			</div>
		      		</div>
		      	</div>
		      	<div class="separador">
		      		<img src="./assets/separador.png">
		      	</div>
		      	<div class="container row">
		      		<div class="col-md-4 offset-md-2 imagen">
				      	<h5>Paella de vegetales</h5>
				      	<img src="./assets/paella_vegetales.jpg" class="img_g">
		      		</div>
		      		<div class="col-md-4 Ingredientes">
		      			<div>
					      	<h6>Ingredientes:</h6>
					      	<ul>
					      		<li>Aceite de oliva</li>
					      		<li>Arroz</li>
					      		<li>Ajo</li>
					      		<li>Azafran</li>
					      		<li>Brócoli</li>
					      		<li>Judias verdes</li>
					      		<li>Coliflor</li>
					      		<li>Tomate perla</li>
					      		<li>Pimentón rojo</li>
					      		<li>Pimentón verde</li>
					      		<li>Cebolla</li>
					      		<li>Hongo portobello</li>
					      		<li>Tomate rallado</li>
					      		<li>Porción de pan</li>
					      	</ul>
		      			</div>
		      			<div>
		      				<h6>Precios:</h6>
		      				<ul>
		      					<li>10 pax: $112.900/10 Un</li>
		      					<li>20 pax: $225.800/20 Un</li>
		      					<li>40 pax: $451.700/40 Un</li>
		      				</ul>
		      			</div>
		      		</div>
		      	</div>
		      	<div class="separador">
		      		<img src="./assets/separador.png">
		      	</div>
		      </div>
		    </div>
		  </div>
		  <div class="card">
		    <div class="card-header" role="tab" id="headingOcho">
		      <h5 class="mb-0">
		        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOcho" aria-expanded="false" aria-controls="collapseOcho">
		          <h3>Pastas</h3>
		        </a>
		      </h5>
		    </div>
		    <div id="collapseOcho" class="collapse" role="tabpanel" aria-labelledby="headingOcho">
		      <div class="card-block contenido">
		        <div class="container row">
		      		<div class="col-md-4 offset-md-2 imagen">
				      	<h5>Crostini con pasta de aceitunas</h5>
				      	<img src="./assets/crostini.jpg" class="img_g">
		      		</div>
		      		<div class="col-md-4 Ingredientes">
		      			<div>
					      	<h6>Ingredientes:</h6>
					      	<ul>
					      		<li>Alcaparras</li>
					      		<li>Anchoas</li>
					      		<li>Aceitunas negras sin huesos</li>
					      		<li>Hinojo</li>
					      		<li>Aceite de oliva</li>
					      		<li>Zumo de limón</li>
					      		<li>Pan tipo baguette</li>
					      		<li>Tomate</li>
					      	</ul>
		      			</div>
		      			<div>
		      				<h6>Precios:</h6>
		      				<ul>
		      					<li>10 pax: $124.300/30 Un</li>
		      					<li>20 pax: $248.600/60 Un</li>
		      					<li>40 pax: $497.200/120 Un</li>
		      				</ul>
		      			</div>
		      		</div>
		      	</div>
		      	<div class="separador">
		      		<img src="./assets/separador.png">
		      	</div>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>
<app-footer></app-footer>
