	<div class=" justify-content-center quitar-float espacio-arriba text-center">
		<img src="./assets/logo.jpg" class="animated fadeInDown">
		<h1 class="caveat grande negro animated fadeIn retraso-1s">Bienvenidos</h1>
		<!--<h3>Mira, comparte y siente el sabor</h3>-->
		<div class="animated fadeInDown retraso-1s">
			<nav>
			<div class="boton1 inline-block">
				<a routerLink="nosotros" class=" tamas link">Nosotros</a>
			</div>
			<div class="boton2 inline-block">
				<a routerLink="asesoria" class=" tamas link">Asesorias</a>
			</div>
			<div class="boton2 inline-block">
				<a routerLink="servicios" class=" tamas link">Servicios</a>
			</div>
			<div class="boton3 inline-block">
				<a routerLink="menu" class="tamas">Menús</a>
			</div>
		</nav>
		</div>
	</div>