<app-header></app-header>
<div class="container espacios animated fadeIn retraso-1s">
	<div class="col-md-3 col-sm-8">
		<img src="./assets/logo-sin-fondo.png" class="logo_apetitus">
	</div>
	<div class="titulo col-md-8 offset-md-2">
		<h1>Apetitus Colombia</h1>
		<h5>Confianza que brinda sabor</h5>
		<h3>Servicios</h3>
	</div>
	<div class="servicios">
		<div class="row">
			<div class="col-md-4">
				<h3 class="caveat">Comestibles</h3>
				<img src="./assets/banquete_buffette.jpg" data-toggle="modal" data-target="#myModal">
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labellebdy="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Comestibles</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
							<div class="modal-body">
								<h5>Contrata los servicios de <strong>Apetitus</strong></h5>
							  	<p>Contactanos para contratar los servicios de <strong>Apetitus</strong> puedes hacerlo haciendo click en el boton de contacto mas abajo.</p>
							  	<hr>
								<div class="row">
								  <div class="col-md-4">
								  	<button type="button" class="btn btn-secondary btn-lg" data-toggle="popover" title="Buffet" data-content=" Tenemos servicios de buffette, con multiples opciones, las cuales puedes ver en nuestro menú.">Buffet</button>
								  </div>
								  <div class="col-md-4 offset-md-4">
								  	<button type="button" class="btn btn-secondary btn-lg" data-toggle="popover" data-placement="left" title="Bebidas" data-content=" Tenemos multiples tipos de bebidas desde jugos naturales hasta cervezas y bebidas alcoholicas.">Bebidas</button>
								  </div>
								</div>
								<div class="row">
								  <div class="col-md-4">
								  	<button type="button" class="btn btn-secondary btn-lg" data-toggle="popover" title="Cocteles" data-content=" Nuestro menú de cocteles tiene opciones para todos los gustos, inclusio contamos con coteles sin alcohol.">Cocteles</button>
								  </div>
								  <div class="col-md-4 offset-md-4">
								  	<button type="button" class="btn btn-secondary btn-lg" data-toggle="popover" data-placement="left" title="Barra" data-content=" El servicio  barra puede ofrecer tanto bebidas como cocteles, todos son seleccionados por usted para su comodidad y disfrute.">Barra</button>
								  </div>
								</div>
							  <div class="estilos_popover">
							  	<button type="button" class="btn btn-secondary btn-lg" data-toggle="popover" data-placement="bottom" title="Pasteles" data-content=" Nuestros pasteles se ven como saben, deliciosos, además están decorados a tu gusto y con tus indicaciones.">Pasteles</button>
							  </div>
							</div>
							<div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
						        <button type="button" class="btn btn-primary">Contacto</button>
						     </div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<h3 class="caveat">Entretenimiento</h3>
				<img src="./assets/banquetes3.jpg" data-toggle="modal" data-target="#modalentre">
				<div class="modal fade" id="modalentre" tabindex="-1" role="dialog" aria-labellebdy="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Entretenimiento</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
							<div class="modal-body">
								<h5>Contrata los servicios de <strong>Apetitus</strong></h5>
							  	<p>Contactanos para contratar los servicios de <strong>Apetitus</strong> puedes hacerlo haciendo click en el boton de contacto mas abajo.</p>
							  	<hr>
								<div class="row">
								  <div class="col-md-4">
								  	<button type="button" class="btn btn-secondary btn-lg" data-toggle="popover" title="Música" data-content=" Disfruta de nuestro gran repertorio de canciones interpretadas en vivo.">Música en vivo</button>
								  </div>
								  <div class="col-md-4 offset-md-4">
								  	<button type="button" class="btn btn-secondary btn-lg" data-toggle="popover" data-placement="left" title="Mobiliaria" data-content=" ¿Aún no tienes decidido el lugar donde hacer tu fiesta? Tranquilo, nosotros te ayudamos con eso.">Espacio</button>
								  </div>
								</div>
								<div class="row">
								  <div class="col-md-4">
								  	<button type="button" class="btn btn-secondary btn-lg" data-toggle="popover" title="Decoración" data-content=" Escoje la tematica, nosotros decoramos según el tema que escojas.">Decoración</button>
								  </div>
								  <div class="col-md-4 offset-md-4">
								  	<button type="button" class="btn btn-secondary btn-lg" data-toggle="popover" data-placement="left" title="Mobiliaria" data-content=" Tus invitados deben estar comodos y nosotros pensamos en todo incluso en la comodidad de tus einvitados.">Mobiliaria</button>
								  </div>
								</div>
							</div>
							<div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
						        <button type="button" class="btn btn-primary">Contacto</button>
						     </div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<h3 class="caveat">Recordatorios</h3>
				<img src="./assets/fotoFiesta.jpg" data-toggle="modal" data-target="#modalreco" class="img_fiesta">
				<div class="modal fade" id="modalreco" tabindex="-1" role="dialog" aria-labellebdy="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Recordatorios</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
							<div class="modal-body">
								<h5>Contrata los servicios de <strong>Apetitus</strong></h5>
							  	<p>Contactanos para contratar los servicios de <strong>Apetitus</strong> puedes hacerlo haciendo click en el boton de contacto mas abajo.</p>
							  	<hr>
								<div class="row">
								  <div class="col-md-4">
								  	<button type="button" class="btn btn-secondary btn-lg" data-toggle="popover" title="Audio" data-content=" Obten loa audios más especiales y escuchalos en el momento que desees en formato mp3.">Audio</button>
								  </div>
								  <div class="col-md-4 offset-md-4">
								  	<button type="button" class="btn btn-secondary btn-lg" data-toggle="popover" data-placement="left" title="Video" data-content=" Revive esos momentos hermosos y muestraselos a todos tus conocidos.">Video</button>
								  </div>
								</div>
								<div class="estilos_popover">
								  	<button type="button" class="btn btn-secondary btn-lg" data-toggle="popover" data-placement="bottom" title="Fotografia" data-content=" Una imagen vale más que mil palabras por lo que inmortalizamos tus momentos especiales.">Fotografia</button>
								  </div>
							</div>
							<div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
						        <button type="button" class="btn btn-primary">Contacto</button>
						     </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 offset-md-2">
				<h3 class="caveat">Asesorías</h3>
				<img src="./assets/asesora.jpg" data-toggle="modal" data-target="#modalase">
				<div class="modal fade" id="modalase" tabindex="-1" role="dialog" aria-labellebdy="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Asesoría por horas</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
							<div class="modal-body">
								<h5>Contrata los servicios de <strong>Apetitus</strong></h5>
							  	<p>Contactanos para contratar los servicios de <strong>Apetitus</strong> puedes hacerlo haciendo click en el boton de contacto mas abajo.</p>
							  	<hr>
								<div class="row">
								  <div class="col-md-4">
								  	<button type="button" class="btn btn-secondary btn-lg" data-toggle="popover" title="Procedimientos" data-content=" ¿Necesitas ayuda con algún procedimiento culinario? nuestros chefs expertos pueden asesorarte para hacerlo mejor.">Procedimientos</button>
								  </div>
								  <div class="col-md-4 offset-md-4">
								  	<button type="button" class="btn btn-secondary btn-lg" data-toggle="popover" data-placement="left" title="Imagen" data-content=" Busca siempre tener la mejor imagen posible, tus conocidos lo agradecerán.">Imagen</button>
								  </div>
								</div>
								<div class="estilos_popover btnmn">
								  	<button type="button" class="btn btn-secondary btn-lg" data-toggle="popover" data-placement="bottom" title="Menús" data-content=" Con nuestra variedad de platos ayudamos contantemente a que la cotidianidad no mate tus banquetes.">Menús</button>
								  </div>
							</div>
							<div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
						        <button type="button" class="btn btn-primary">Contacto</button>
						     </div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<h3 class="caveat">Otros</h3>
				<img src="./assets/Collage.jpg" data-toggle="modal" data-target="#modalot" class="img_otro">
				<div class="modal fade" id="modalot" tabindex="-1" role="dialog" aria-labellebdy="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Otros servicios</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
							<div class="modal-body">
								<h5>Contrata los servicios de <strong>Apetitus</strong></h5>
							  	<p>Contactanos para contratar los servicios de <strong>Apetitus</strong> puedes hacerlo haciendo click en el boton de contacto mas abajo.</p>
							  	<hr>
								<div class="row">
								  <div class="col-md-4">
								  	<button type="button" class="btn btn-secondary btn-lg" data-toggle="popover" title="Transporte" data-content=" Pensamos en todo por lo que si necesitas transporte para ti o tus invitados, nosotros te ayudamos con eso.">Transporte</button>
								  </div>
								  <div class="col-md-4 offset-md-4">
								  	<button type="button" class="btn btn-secondary btn-lg" data-toggle="popover" data-placement="left" title="Chef líder" data-content=" ¿Buscas un chef para tu cocina? Tenemos a los mejores, solo contactanos y te eviaremos al mejor según lo que encesites.">Chef líder</button>
								  </div>
								</div>
							</div>
							<div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
						        <button type="button" class="btn btn-primary">Contacto</button>
						     </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>
